// COLORS
$color-white-pure: #fff;
$color-white1: #fafafb;
$color-white2: #f8f8f8;
$color-white3: #f6f5f3;
$color-blue: #365562;
$color-brown-light1: #6b6257;
$color-brown-light2: #81796f;
$color-brown: #463f38;
$color-gold: #d5aa63;





// FONTS
$font-heading: 'Source Serif Pro', serif;
$font-body: 'Open Sans', sans-serif;