@use 'abstracts/mixins';
@use 'abstracts/variables';

@use 'base/reset';

@use 'components/buttons';
@use 'components/heading';
@use 'components/nav';
@use 'components/sub-menu';

@use 'layout/additions';
@use 'layout/benefits';
@use 'layout/footer';
@use 'layout/header';
@use 'layout/mattress';
@use 'layout/sale-extended';
@use 'layout/testimonial';
