.header {
  &__banner {
    &--memorial {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &--main {}
  }
  &__top-bar {
    color: $color-white1;
    font-size: 1.1rem;

    &-container {
      background-color: $color-blue;
      width: 100vw;
      padding: 0.5rem 0;
      text-align: center;
    }
  }
  &__logo {
    &-wrapper {}
  }
  &__extras {
    &-list {}
    &-item {}
    &-link {}
  }
  &__search-input {}
}