* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // sets 1rem = 10px (10/16 = 62.5%)
}

body {
  font-family: $font-body;
	line-height: 1.6;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}